html.BA {
  color: crimson;
}
.AB {
  color: blue;
}
li {
  background-color: gre;
  border-width: 1px;
  border-color: brown;
  border-style: solid;
}

#ul1 {
  background-color: crimson;
}
#p1 {
  background-color: crimson;
  color: gold;
  border-radius: 2px;
  border-style: solid;
  border-color: crimson;
}
.bebra {
  background-color: blue;
  color: aliceblue;
  border-radius: 1px;
  border-color: aliceblue;
  border-style: dashed;
}
