.button_square {
  background-color: bisque;
  border-radius: 10px;
  border-color: brown;
  border-width: 4px;
  padding: 10em;
  width: 50%;
  position: absolute;
  left: 50%;
  text-align: center;
  z-index: 1;
  transform: translate(-50%);
}
.button {
  height: 4rem;
  width: 10rem;
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 80%;
}
.score {
  color: black;
  position: absolute;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.again {
  height: 4rem;
  width: 4rem;
  z-index: 10;
  position: absolute;
  left: 10%;
  transform: translate(-10%, -85%);
  bottom: 85%;
}
